<div class="hero-unit">

<h1>Welcome to one month rails</h1>
<p>
	you've found the home page for the
<%=link_to "Joshua Zuniga", "http://joshazuniga.com" %>

</p>
<p>
	<%= link_to "Sign up Now!", "#", class: "btn btn-primary btn-large" %>
</p>
</div>
